input[type="range"] {
  -webkit-appearance: none;
  margin-top: 3rem;
  width: 60%;
}
/* input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
} */
input[type="range"]::-webkit-slider-runnable-track {
  width: 60%;
  height: 1px;
  margin: auto;
  background: rgb(34, 34, 34);
  border-radius: 3px;
}
input[type="range"]::-moz-range-track {
  width: 60%;
  height: 1px;
  margin: auto;
  background: rgb(34, 34, 34);
  border-radius: 3px;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  width: 60%;
  height: 1px;
  margin: auto;
  /* background: rgb(34, 34, 34); */
  border-radius: 3px;
}
.horizontal-slider::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  cursor: pointer;
  margin-top: -33px;
}
.horizontal-slider::-moz-slider-thumb {
  appearance: none;
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  cursor: pointer;
  margin-top: -33px;
}
.horizontal-sliderinput::-ms-slider-thumb {
  appearance: none;
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  cursor: pointer;
  margin-top: -33px;
}
@media only screen and (min-width: 960px) {
  .horizontal-slider::-webkit-slider-thumb {
    margin-top: -35px;
    background-size: 105%;
  }
  input[type="range"] {
    width: 50%;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .horizontal-slider::-webkit-slider-thumb {
    margin-top: -39px;
    /* background-size: 105%; */
    height: 2.4rem;
    width: 2.4rem;
  }
  input[type="range"] {
    width: 60%;
    margin-top: 2.5rem;
  }
}
