input[type="range"] {
  -webkit-appearance: none;
  margin-top: 3rem;
  width: 60%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}
/* input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
} */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* ------------------------------------------------------------------- */
input[type="range"]::-webkit-slider-runnable-track {
  width: 60%;
  height: 1px;
  margin: auto;
  background: rgb(34, 34, 34);
  border-radius: 3px;
}
input[type="range"]::-moz-range-track {
  width: 60%;
  height: 1px;
  margin: auto;
  background: rgb(34, 34, 34);
  border-radius: 3px;
}
/* ----------------------------------------------------------------------- */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none !important;
  border: none !important;
  margin-top: -33px;
}
input[type="range"]::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  cursor: pointer;
  /* margin-top: -33px; */
}
input[type="range"]::-ms-thumb {
  appearance: none;
  width: 35px;
  height: 35px;
  background: url("../../../icons/fire.svg");
  background-position: bottom;
  cursor: pointer;
  margin-top: -33px;
}
/* ------------------------------------------------------------------------------- */
@media only screen and (min-width: 960px) {
  .horizontal-slider::-webkit-slider-thumb {
    margin-top: -35px;
    background-size: 105%;
  }
  input[type="range"] {
    width: 50%;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .horizontal-slider::-webkit-slider-thumb {
    margin-top: -39px;
    /* background-size: 105%; */
    height: 2.4rem;
    width: 2.4rem;
  }
  input[type="range"] {
    width: 60%;
    margin-top: 2.5rem;
  }
}
