.container {
    height: 10.4rem;
    /* background: #B1E4E4; */
    box-shadow: 0px 4px 4px rgba(88, 114, 112, 0.48);
    border-radius: 24px;
    margin: 0.5rem 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
    padding: 2.5rem ;
    
}
.container  p {
    margin: 0;
    font-size: 1.2rem;
}
.greenLight {
    background: #B1E4E4;

}
.greenDark {
    background: #478189;
    
}
.blueLight {
    background: #BCE2FD;
    
}
.blueDark {
    background: #5EBDFF;
    
}
.red {
    background: #EF717A;
    
}

a {
    text-decoration: none;
    color: black;
}