.container {
  background: #1c4868;
  border-radius: 20px;
  height: 15vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  font-size: 0.9rem;
  margin-top: 10vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  margin: auto;
  padding: 0 2vh;
  max-width: 400vh;
  text-align: center;
}
.msg {
  max-width: 400vh;
  margin: 8vh auto;
}
